<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>ChooseMe! - Busca</title>

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/chooseme.css" rel="stylesheet" type="text/css">
  
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  </head>

  <body>

<!--NAVBAR-->
      <div class="navbar">
        <div class="container">
          <div class="navbar-header">
           <a href="#" class="navbar-brand" style="color: #0096c3;">ChooseMe</a>
          </div>
          <div class="btn-group notificacoes">
              <div class="dropdown-toggle" data-toggle="dropdown">
                 <img src="{{ STATIC_URL }}images/boneco.png" onMouseOut="this.src='{{ STATIC_URL }}images/boneco.png'"  
                onMouseOver="this.src='{{ STATIC_URL }}images/boneco2.png'" />
              </div>
              <span class="badge badge-red" id="notif-num">4</span>    
              <div class="dropdown-menu active notilist" role="menu">
                <span class="dropdown-header"><b>Notificações</b> 
                  <a class="pull-right" href="#" >
                    Ver todas
                  </a>
                </span>
                <div class="notif-list">
                  <a class="list-group-item" href="#"> 
                    <img class="pull-left" src="{{ STATIC_URL }}images/Apple.png"> 
                    <p>Você recebeu uma mensagem da empresa Apple.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/facebook.png"> 
                    <p>Você recebeu uma mensagem da empresa Facebook.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/ibm.jpg">
                    <p>A empresa IBM fez uma comentário sobre você.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/samsung.jpg">
                    <p>A empresa Samsung lhe enviou uma mensagem.</p>
                  </a>
                </div>
              </div>
            </div>

        <div class="navbar-right">
          <form class="navbar-form" role="search" style="float: left;">
            <div class="form-group">
              <input id="busca" type="text" class="form-control" placeholder="Pesquise por pessoas ou empresas" >
            </div>
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>

          <div class="btn-group">
            <div class="dropdown-toggle foto" data-toggle="dropdown">
              <img src="{{ STATIC_URL }}images/ibm.jpg" class="img-circle " width="40px">
              <span class="caret"></span>  
            </div>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"> Ver Perfil</a></li>
              <li><a href="#"> Editar Perfil</a></li>
              <li class="divider"></li>
              <li><a href="#"><span class="glyphicon glyphicon-wrench"></span>  Configurações</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-hand-up"></span>  Ajuda</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
            </ul>
          </div>

        </div>
      
      </div>
    </div>


<!--JUMBOTRON-->

    <div class="jumbotron">
      <div class="container">
        <div class="page-header titulo">
          <h1 class="text-center">Bem-vinda de volta, IBM!</h1>
        </div>
        <br><br>
        <div class="row acoes text-center">
          <div class="col-md-6">
            <a href="#" class="btn btn-outline">
              <img src="{{ STATIC_URL }}images/selecionados.png" width="180px">
              <div class="caption">
                <span class="text-center network-name"><b>Candidatos Selecionados</b></span>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" class="btn btn-outline">
              <img src="{{ STATIC_URL }}images/curriculum.png" width="100px" class="block center-block" >
              <span class="text-center network-name"><b>Atualize suas informações</b></span>
            </a>
          </div>
        </div>
      </div>
    </div>

<!--BUSCA SIMPLES E AVANÇADA-->

    <div class="busca">
      <div class="container">
        <h1><strong>Buscar por candidatos</strong></h1>                  
        <div class="campos" id="accordion">
            <div class="busca-simples">
              <h3>Procuro um candidato que seja</h3>
              <div class="competencias row">
                <div class="competencia col-md-2 text-center">
                  <img width="100px" src="{{ STATIC_URL }}images/red.png" class="block center-block"/>
                  <h3 class="text-center">Criativo</h3>  
                </div>
                <div class="competencia col-md-2">
                  <img width="100px" src="{{ STATIC_URL }}images/orange.png" class="block center-block">
                  <h3 class="text-center">Líder</h3>  
                </div>
                <div class="competencia col-md-2">
                  <img width="100px" src="{{ STATIC_URL }}images/cyan.png" class="block center-block">
                  <h3 class="text-center">Comunicativo</h3> 
                </div>
                <div class="competencia col-md-2">
                  <img width="100px" src="{{ STATIC_URL }}images/gray.png" class="block center-block">
                  <h3 class="text-center">Proativo</h3> 
                </div>
                <div class="competencia col-md-2">
                  <img width="100px" src="{{ STATIC_URL }}images/blue.png" class="block center-block">
                  <h3 class="text-center">Responsável</h3> 
                </div>
                <div class="competencia col-md-2">
                  <img width="100px" src="{{ STATIC_URL }}images/green.png" class="block center-block">
                  <h3 class="text-center">Flexível</h3> 
                </div>
              </div>
              <div class="input-group">
                <h3>que faça o curso de</h3>
                <input type="text" class="form-control input-busca" placeholder="Curso">
              </div>
                       
            </div>
           
            <div id="collapseAvanc" class="collapse busca-avancada">
              <div class="input-group">
                <h3>a partir do</h3>
                <input type="text" class="form-control input-busca" placeholder="Período">
              </div>
              <div class="input-group">
                <h3>more próximo à</h3>          
                <input type="text" class="form-control input-busca" placeholder="Localização">
              </div>
              <div class="input-group">
                <h3>e possua conhecimentos em</h3> 
                <ul class="list-inline conhecimentos-list" style="margin-left: 30px;">
                  <li><h4 class="label label-primary">html</h4></li>
                  <li><h4 class="label label-success">css</h4></li>
                  <li><h4 class="label label-danger">javascript</h4></li>
                  <li><h4 class="label label-info">python</h4></li>
                  <li><h4 class="label label-warning">django</h4></li>
                </ul>           
              </div>  
           </div>  
          <div class="row" id="botoes">
            <div class="text-center col-md-11"> 
              <button type="button" class="btn btn-info btn-lg" id="procurar">
                <span class="glyphicon glyphicon-search"></span> Procurar
              </button>
            </div>
            <div class="col-md-1">
                <a id="setinha" class="seta" data-toggle="collapse" data-parent="#accordion" href="#collapseAvanc">
                  <img src="{{ STATIC_URL }}images/downD.png" width="30px">
                </a>
              </div>   
          </div>

  </div>
</div>  



<!--FOOTER-->

    <div class="footer ">
      <div class="container">
        <div class="row">
          <img class="col-md-3 block center-block" src="{{ STATIC_URL }}images/choose.jpg"  width="220px">
          <div class="col-md-2 temp text-center">
            <h4 class="text-center">Saiba mais</h4>            
            <p>Como funciona</p>
            <p>Detalhes da avaliação</p>
            
            
          </div>
          
          <div class="col-md-2 text-center">
            <h4 class="text-center">Sobre</h4>
            <p>Empresa</p>
            <p>Nosso time</p>
            <p>Blog</p>
          </div>        
  
          <div class="col-md-2 text-center">
            <h4>Suport</h4>
            <div class="footer-contato">
              <p>Termos de uso</p>
              <p>Politicas de privacidade</p>  
              <p>Ajuda</p>
            </div>
            
          </div>
          <div class="col-md-2">
            <h4 class="text-center">Siga-nos</h4>  
            <ul class="list-inline">
              <li><a href="#"><img src="{{ STATIC_URL }}images/facebook.png" width="23px"></a></li>
              <li><a href="#"><img src="{{ STATIC_URL }}images/twitter.png" width="23px"></a></li>
              <li><a href="#"><img src="{{ STATIC_URL }}images/feed.png" width="23px"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>    

    <!--JAVASCRIPT-->

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>

    <script type="{{ STATIC_URL }}text/javascript">

      var apertou = true;
      $(".seta").click(function(){
        
        if (apertou){
          $(".seta img").attr('src','{{ STATIC_URL }}images/upD.png');
          apertou = false;
        }else{
          $(".seta img").attr('src','{{ STATIC_URL }}images/downD.png');
          apertou = true;
        }
      });
    
    </script>
  </body>
</html>
