body, html {
	height: 100%;
	width: 1350px;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}
.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	margin-top:-100px;
	color: #f8f8f8;
	background: url(../img/test3.jpg) no-repeat center center; /*Banner da capa aqui>*/
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 7em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
		border: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}
.btn-outline { /*colocar uma sombra nas letras*/
	margin-top: 15px;
	border: solid 2px #fff; /*Cores da borda do botao enquanto o mouse nao esta em cima*/
	font-size: 20px;
	color: #fff;
	background: 0 0;
	transition: all .3s ease-in-out;
}
.btn-outline:hover{	
 	background-color: rgba(0, 128, 128, 0.5); /*cor do fundo do botao quando o mouse esta em cima*/
 	margin-top: 15px;
	border: solid 2px #fff;
	font-size: 20px;
	color: #fff; /*cor da letra enquanto o mouse esta em cima*/
	transition: all .3s ease-in-out;
}
.tambutton {
	height: 45px;
	width:	300px;
}

.content-section-a {
	 background: url(../images/greyzz.png) repeat; /*Banner da capa aqui>*/
	padding: 50px 0;
}

.content-section-b {
background: url(../images/greyzz.png) repeat; /*Banner da capa aqui>*/
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}


.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	margin-top: 25px;
    padding-bottom: 30px;
    background-color: #F7F7F7;
    padding-left: 40px;
    padding-right: 40px; 
}

p.copyright {
	margin: 15px 0 0;
	color: rgba(0,128,128,0.7);
}

.footer {
    
    padding-bottom: 30px;
    background-color: #2B5464;
    padding-left: 40px;
    padding-right: 40px; 
    
}
.footer .row {
    padding-top: 30px;
}

.footer ul {
    margin-top: 10px;
}

.footer p{
    font-size: 14px;
    color: white;
}

.footer-contato{
    margin-top: 10px;
}

.footer img{
    padding-top: 20px;
}
.modal-footer button{
    position: relative;
    bottom: 7px;
}
.footer-contato{
    margin-top: 10px;
}
.footer h4{
    color: white;
} 

.container {
  width: 1180px;
  max-width: none !important;
}
